/*Importa forte do google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*Reset em todos os elementos*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,button,input {
    font: 400 22px "Roboto", sans-serif;
}

li {
    list-style-type: none; /*retira as bolinhas dos elementos*/
}

/*Criação de variaveis no root do css*/

:root {
    --black: #000000;
    --skyblue: #00bfff;
    --width: #ffffff;
    --red: #ff0000;
    --blue: #0000ff;
    --deepskyblue: #00bfff;
    --ForestGreen: #228B22;
    --Gray: #808080;
}


/*header*/

.main-header {
    background-image: url(background-image.png); /*Adiciona imagem no fundo*/
    background-position: 50% 39%; /*Alinha os elementos nos eixos x e y*/
    display: flex; /*colocar elementos centralizados*/
    flex-direction: column; /*alinha os elementos um embaixo do outro*/
    align-items: center; /*centralizar os elementos*/
}

.main-nav {
    width: 100%; /*Ocupar toda area disponivel*/
}

.header-list-container {
    display: flex; /*colocar os elementos na mesma linha*/
    justify-content: space-between; /*adiciona espaçamento entre os itens*/
    align-items: center; /*garatir que fiquem alinhados na mesma linha*/
    padding: 16px 0; /*primeiro é cima e baixo, segundo esquerda e direita*/
}

.nav-item {
    text-transform: uppercase; /*deixar todas */
    color: var(--blue);
}

hr {
    width: 100%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    color: var(--black);
    transition: 0.2s;

}

.main-about {
    padding: 40px 0px 64px;
}

.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}

.title-median {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image {
    float: left; /**/
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}

.about-description {
    color: var(--black);
    text-align: justify;
}

.main-footer {
    background-color: var(--skyblue);
    padding: 15px 0;
}

.footer-container {
    display: flex; /*deixar todo na mesma linha*/
    align-items: center; /*alinha dodos os elementos*/
    justify-content: space-between; /*colar nome de um lado e lista de icones do outro*/
}

.title-smaller {
    font-family: "Raleway, sans-serif";
    color: var(--blue);
    font-size: 26px;
}

.footer-Item {
    width: 50px;
    height: 50px;
    padding: 15px 0;
}

.footer-Item , .footer-Item {
    margin-left: 16px;
}

.contact-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--Gray);
}

.contact {
    background-color: var(--skyblue);
    padding: 30px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.contact-label {
    display: block;
    margin-bottom: 20px;
    color: var(--black);
}

.contact-field {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}

.contact-field:focus {
    background-color: var(--Gray);
    outline: none;
}

textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "Roboto", calibri;
}

.button-form {
    background-color: var(--black);
    color: var(--width);
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
}

.button-form:hover {
    background-color: var(--width);
    color: var(--black);
}

.contact-maps {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

/*index*/

.title-header {
    font-family: "madimi one", cursive;
    color: var(--blue);
    font-size: 38px;
    padding-bottom: 10px;
}

.title-large {
    font-family: "rock salt", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}

.description {
    text-align: center;
    color: var(--Gray);
    padding-bottom: 10px;
}

.emphasis {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image {
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
}

.product-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
    border: 2px solid var(--skyblue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;
}

.button-hover:hover {
    background-color: transparent;
}

.cart-table {
    width: 100%;
    border-collapse: collapse; /*fax com que as bordas se colopsem, entre uma as outras*/
    padding-bottom: 6px;
}

.table-head-item {
    text-align: start;
   border-bottom: 1px solid var(--Gray);/*adiciona a linha da borda embaixo */
   padding-bottom: 6px;
   text-transform: uppercase; /*transforma texto em maiusculas*/
}

.second-col,
.third-col {
    width: 25%; /*faz com que a segunda e a terceira coluna ocupem o mesmo tamanho*/
}

.cart-product {
    padding: 8px; /*criar um espaçamento pequeno entre os elementos*/
}

.product-identification {
    display: flex; /*coloca os elementos na mesma linha*/
    align-items: center; /*centraliza os objetos*/
}

.cart-product-image {
    width: 120px; 
    height: 80px;
}

.cart-product-title {
    margin-left: 15px; /*cria um espaçamento entre as imagens*/
}

.cart-product-price {
    font-family: "Raleway", sans-serif;
}

.product-qnt-input {
    width: 45px;
    height: 35px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--Gray);
    text-align: center;
}

.remove-product-button {
    background-color: var(--red);
    color: var(--width);
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}

.remove-product-button:hover {
    filter: brightness(0,8); /*diminui o brilho com essa propriedade*/
}

.cart-total-container {
    border-top: 1px solid var(--Gray);
    text-align: end; /*leva para o final do campo*/
    padding: 6px 16px 0 0; /*top direita baixo esquerda*/
}

.cart-total-container strong {
    margin-right: 10px;
}

.purchase-button {
    display: flex;/*quebrar para centralizar*/
    padding: 16px 20px; /*cima/baixo direita/esquerda*/
    background-color: var(--blue);
    color: var(--width);
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto 0; /*cima esquerda/direita baixo*/
}

.purchase-button:hover {
    filter: brightness(0,8);
}